#btn-effacer{
    margin-top: 5px;
}

#btn-editer{
    margin-left: 8px;
    width: 78px;
}
#btn-enregistrer{
    margin-top: 15px;
    height: 50px;
    margin-left: 20px;
}
#btn-annuler{
    margin-top: 15px;
    height: 50px;
}

@media only screen and (max-width: 650px) {
    #btn-effacer{
        margin-top: 5px;
    }
    
    #btn-editer{
        margin-left: 8px;
        width: 78px;
    }

    #div-btn{
        margin-left: 80%;
        margin-bottom: 20px;
    }


}