.navbar-responsive-container{
    background-color: dimgray;
    border-radius: 15px;
}
.navbar-responsive a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: 600;
    border-bottom: solid black 2px;
    font-size: 20px;
}

.navbar-responsive a:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
    border-radius: 15px;
}

.navbar-responsive a:last-of-type{
    border-bottom: none;
}