header.header {
    background-color: #ffff;
    padding: 0px 15px;
    overflow: visible;
    white-space: nowrap;
    box-shadow: var(--shadow);
}
header.header h1 {
    font-size: 1.8em;
}

.menu_header{
    display: none;
}

#header-responsive{
    overflow: visible;
}


@media only screen and (max-width: 650px) {
    header.header{
        background-color: rgba(85, 85, 85, 0.081);
    }

    #header-responsive{
        display: flex;
        flex-direction: row;
        width: wrap;
    }
    .menu_header{
        display: inline-flex;
        flex-direction: row;
        height: 30px;
        font-size: 30px;
    }
    .menu_header a.icon {
        float: left;
        height: 50px;
        width: 40px;
        color: lightcoral;
        font-weight: 700;
    }
    .nom{
        float: right;
        margin-right: 35%;
    }
  }

  @media only screen and (max-width: 576px) { 
    header.header {
        display:flexbox;
        overflow: visible;
        }
        .d-sm-flex {
            display: -ms-flexbox!important;
            display: flex!important;
        }
  }

