.container{
    max-width: 900px;
}

.picture_box:first-child{
    margin-top: 30px;
}

.picture_box{
    display: inline-block;
    margin-bottom: 15px;
}

.picture_list {
    width: 800px;
    list-style-type: none;
    display:-webkit-inline-box;
}

.picture {
    max-width: 900px;
    max-height: 600px;
}