@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


.bienvenue-felipe{
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
}
.bienvenue-felipe h1{
    color: #ffff;
    font-size: 8rem;
}

.bienvenue-felipe p{
    color: #ffff;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Fuzzy Bubbles', cursive;
}

